/*-------
   RESET 
 --------*/
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
/*-------
   DEBUG 
 --------*/ 
.debug header{
    background-color: #add8e6;
 }
.debug .header-top{
    background-color: #daa520;
}
.debug .header-top > *{
    border: 2px dashed;
}
.debug .header2{
    background-color: #00008b;
    padding: 50px 0;
}
.debug .header-bottom{
    background-color: #ee82ee;
    border: 2px dashed;
}
.debug .row{
    height: 400px;
}
.debug .col-big{
    background-color: #1e90ff;
    border: 2px dashed;
}
.debug .col-small{
    background-color: #ffc0cb;
    border: 2px dashed;
}
.debug .green{
    background-color: #228b22;
    border: 2px dashed;
}
.debug .colonna1{
    background-color: #f08080;
    border: 2px dashed;
}
.debug .colonna2{
    background-color: #20b2aa;
    border: 2px dashed white;
}
.debug footer{
    background-color: #23272a;
}
.debug .footer-bottom{
    background-color: #7fffd4;
}
.debug .logo-footer{
    background-color: #ffb6c1;
    border: 2px dashed;
}
.debug .bottone{
    background-color: #ffb6c1;
    border: 2px dashed;
}
 /*-------
   COMMON 
 --------*/ 
.container{
    max-width: 1200px;
    margin: auto;
}
h1{
    font-size: 56px;
    margin-top: 60px;
}
p{
    font-size: 18px;
    margin-top: 30px;
}
.main-nav a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
}
a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
ul{
    list-style: none;
}
 /*-------
   TYPOGRAPHY 
 --------*/ 
 body{
    font-family: 'Roboto', sans-serif;
 }

 /*-------
   HEADER 
 --------*/ 
header{
    padding: 16px 0;
    height: 100%;
    width: 100%;
    background-color: #255EE9;
    justify-content: center;

}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;  
}
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.main-nav ul li{
    margin: 0 10px;
}
.logo{
    width: 124px;
    height: 34x;
    margin-right: 16px;
}
.bot{
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    background-color: white;
}
.login .bottone{
    background-color: white;
}
.logo , .login{
    margin: 0;
    text-align: end;
}
.main-nav{
    width: 80%;
}
.login{
    text-align: right;
}
.header-bottom{
    width: 900px;
    height: 400px;
}
.header2{
    margin: auto;
    text-align: center;
    max-width: 900px;
    height: 400px;
    color: black;
    margin-top: 120px;
}
 /*-------
   MAIN 
 --------*/ 
section{
    padding: 40px 0;
}
section:nth-child(2n){
    background-color: #d3d3d3;
}
.row{
    display: flex;
}
.col-big{
    width: 60%;
}
.col-small{
    width: 40%;
}
.debug section:last-child .container {
    height: 900px;
    background-color: green;
    border: 2px dashed;
}
 /*-------
   FOOTER 
 --------*/ 
 .footer-top{
    display: flex;
    padding: 10px 0 30px 0;
 }
 .colonna1{
    height: 500px;
    width: calc(100% / 3);
 }
 .colonna2{
    height: 500px;
    width: calc(100% / 6);
 }
 .footer-bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .logo-footer{
    width: 50px;
    height: 35px;
    margin: 20px 0 20px 0;
    text-align: center;
    padding: 7px;
 }
 .bottone{
    width: 70px;
    height: 35px;
    margin: 20px 0 20px 0;
    text-align: center;
    padding: 7px;
 }