/*-------
   RESET 
 --------*/
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
/*-------
   DEBUG 
 --------*/ 
.debug header{
    background-color: #add8e6;
 }
.debug .header-top{
    background-color: #daa520;
}
.debug .header-top > *{
    border: 2px dashed;
}
.debug .header2{
    background-color: #00008b;
    padding: 50px 0;
}
.debug .header-bottom{
    background-color: #ee82ee;
    border: 2px dashed;
}
.debug .row{
    height: 400px;
}
.debug .col-big{
    background-color: #1e90ff;
    border: 2px dashed;
}
.debug .col-small{
    background-color: #ffc0cb;
    border: 2px dashed;
}
.debug .green{
    background-color: #228b22;
    border: 2px dashed;
}
.debug .colonna1{
    background-color: #f08080;
    border: 2px dashed;
}
.debug .colonna2{
    background-color: #20b2aa;
    border: 2px dashed white;
}
.debug footer{
    background-color: #23272a;
}
.debug .footer-bottom{
    background-color: #7fffd4;
}
.debug .logo-footer{
    background-color: #ffb6c1;
    border: 2px dashed;
}
.debug .bottone{
    background-color: #ffb6c1;
    border: 2px dashed;
}
 /*-------
   COMMON 
 --------*/ 
 main{
    display: flex;
    flex-direction: column;
 }
.container{
    max-width: 1200px;
    margin: auto;
}
h1{
    font-size: 56px;
    padding-top: 180px;
}
p{
    font-size: 18px;
    margin-top: 30px;
}
.main-nav a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
}
a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
ul{
    list-style: none;
}
.background-grey{
    background-color: #d3d3d3;
}
 /*-------
   TYPOGRAPHY 
 --------*/ 
 body{
    font-family: 'Roboto', sans-serif;
 }
 h2{
    font-size: 50px;
    margin-top: 30px;
 }
.text-center{
    text-align: center;
}
footer h4{
    font-size: 32px;
    color:  #7289DA;
}
footer h5{
    font-size: 24px;
    color:  #7289DA;
    margin-bottom: 20px;
 }
 /*-------
   HEADER 
 --------*/ 
header{
    padding: 16px 0;
    height: 100%;
    width: 100%;
    background-color: #255EE9;
    justify-content: center;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;  
}
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.main-nav ul li{
    margin: 0 10px;
}
.logo{
    width: 124px;
    height: 34x;
    margin-right: 16px;
}
.bot{
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    background-color: white;
}
.bot i{
    margin-right: 10px;
}
.login .bottone{
    background-color: white;
}
.logo , .login{
    margin: 0;
    text-align: end;
}
.main-nav{
    width: 80%;
}
.login{
    text-align: right;
}
.header-bottom{
    width: 900px;
    display: flex;
    justify-content: center;
}
.header2{
    margin: auto;
    text-align: center;
    height: 600px;
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
 /*-------
   BOTTONI 
 --------*/
 .button-light{
    margin: 20px 20px 20px 0px;
    font-size: 20px;
    padding: 16px 32px;
    color: black;
 } 
 .button-dark{
    margin: 20px 0 20px 0px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #23272A;
    color: white;
 }
 .button-blue{
    margin: 20px 20px 20px 0px;
    font-size: 20px;
    padding: 16px 32px;
    color: white;
    background-color: #7289DA;
    display: inline-block;
 } 
 .button-small{
    padding: 7px 16px;
    font-size: 14px;
    margin: 0;
 }
 /*-------
   MAIN 
 --------*/ 
section{
    padding: 40px 0;
}
.row{
    display: flex;
    padding-top: 30px;
}
.col-big{
    width: 60%;
}
.col-small{
    width: 40%;
}
.debug section:last-child .container {
    height: 900px;
    background-color: green;
    border: 2px dashed;
    text-align: center;
}
.last-section{
    text-align: center;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    margin: auto;
    margin-top: 40px;
    max-width: 600px;
    padding: 50px 0;
}
.last-section p{
    text-align: center;
    font-size: 16px; 
}
.last-section h2{
    text-align: center;
}
.descrizione{
    font-size: 20px;
    line-height: 1.6;
}
.last-section h3{
    font-size: 32px;
    margin-bottom: 40px;
}
 /*-------
   FOOTER 
 --------*/ 
 footer{
    background-color: #23272A;
    color: white;
 }
 .footer-top{
    display: flex;
    padding: 50px 0 30px 0;
 }
 .language{
    display: flex;
    align-items: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .language img{
    width: 20px;
    margin-right: 10px;
 }
 .language i{
    margin-left:10px;
 }
 .social{
    display: flex;
    color: white;
 }
 .social i{
    margin-right: 10px;
    width: 32px;
    font-size: large;
 }
 .colonna1{
    width: calc(100% / 3);
 }
 .colonna2{
    width: calc(100% / 6);
 }
 footer li{
    padding: 10px 0;
    font-size: 18px;
 }
 .footer-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
 }
 .logo-footer{
    height: 35px;
 }
 footer hr{
    border-color: #7289DA;
 }